<div class="col-md-12 align-items-center">
  <div style="height: 100vh;" class="row align-items-center">

    <div class="col-md-6 p-0" style="height: 100%; background-image: url('assets/images/mask.png'); background-size: contain; background-repeat: no-repeat;">
    <div class="rect">
      <div class="p-5">
      <h5><b> Accessto all cloud platform product</b></h5>
      <p>Get everything that you need to build and your apps, webites and services, including Firebase and the Google maps API.</p>
      <h5><b>$300 credit for free</b></h5>
      <p>Sign up and get $300 to spend on google cloud platform aver the next 12 months.</p>
      <h5><b>No autochange after free trial ends</b></h5>
      <p>we ask you for your credit card to make sure that you are not a robot. you wan't changeed unless you manually upgrade to a paid account </p>
    </div>
    </div>
    
    </div>
   

    <div class="col-md-6 p-5" style="padding-top: 100px;">
      <div class="box2" style="height: 50px; width: 100px; background-size: cover; padding-bottom: 100px; ">
        <img src="assets/images/prizm.svg">

      </div>
      <app-login *ngIf="login"></app-login>
      <app-login1 *ngIf="login1"></app-login1>
      <app-login2 *ngIf="login2"></app-login2>
      <app-login3 *ngIf="login3"></app-login3>
      <app-login4 *ngIf="login4"></app-login4>











      
    </div>
  </div>
</div>