<div class="sheet">
    <div class="box" style="background: url(assets/images/logo.svg) no-repeat;">
    </div>
</div>
<div class="section">
    <div class="Nav-Bar">
        <nav class="navbar navbar-expand-sm">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#"> <img class="logo" src="assets/images/prizm.svg"
                            style="width: 114px; height: 25px;"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScrollable"
                        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="navbarScrollable">
                    <ul class="navbar-nav mr-auto ml-auto mt-2 mt-lg-0">
                        <li class="nav-item active"><a href="Job Search">Job Search</a></li>
                        <li class="nav-item"><a href="Services">Services</a></li>
                        <li class="nav-item"><a href="Services">Services</a></li>


                        

                    </ul>
                    <div class="Logout">


                        <a style="color: #144FED;" class="navbar-logout" routerLink="/login"
                        routerLinkActive="active">Login</a>
                 
                        <a style="color: #144FED;" class="navbar-logout" routerLink="/Login Employer"
                            routerLinkActive="active">Login Employer</a>
                    </div>
                </div>
            </div>
        </nav>

    </div>
    <div style="height: 100%;" class="col-md-12">
        <div class="row align-items-center" style="height: 100%;">
            <div class="col-md-2"></div>
            <div class="col-md-6"><img src="assets/images/pic.jpg" class="ml-5" style="margin-bottom: 60px;"></div>

            <div class="col-md-4 mt-3" style="margin-bottom: 60px;">
                <div class="p-5">
                    <h1 style="font-size: 60px;">Create Your Way</h1>
                    <p class="pt-3" style="font-size: 40px;"> Find your next job at <b>Prizm</b></p>
                    <input type="text" class="form-control mt-4 megaSearch"
                        placeholder="Software Engineer,Design,Sales,Finance..." />

                    <button type="search">Search</button>
                </div>
            </div>
        </div>
    </div>

    <div style="position: absolute; bottom:0px;" class="col-md-12">
            
        <div style="height: 130px; justify-content: center; border-top: 1px solid rgb(219, 219, 219)" class="row mt-5">
            
            <div style="height: 60px; margin-top: 30px; margin-right: 70px;" class="col-md-7">
                <img src="assets/images/testimonial.jpg">
            </div>
        </div>
    </div>
</div>

<div class="section">
<div class="container-fluid"
    style="background-image: url('assets/images/Image.jpg'); background-size: cover; height: 850px;">
    <div class="row">
        <div style="" class="col-md-2"></div>
        <div style="" class="col-md-10">
            <div class="row" style="width:1000px; margin-top:310px; margin-left: 70px;">

                <div class="col"><strong>
                        <h1 style="font-size: 50px;">500</h1>
                    </strong>
                    <span style="font-size: 18px;">New Jobs Daily</span></div>
                <div class="col"><strong>
                        <h1 style="font-size: 50px;">80-90%</h1>
                    </strong>
                    <span style="font-size: 18px;">Clousre Ratio</span></div>
                <div class="col"><strong>
                        <h1 style="font-size: 50px;">99.9%</h1>
                    </strong>
                    <span style="font-size: 18px;">Valid Companies</span></div>
            </div>
            <div class="row" style="width:1000px; margin-top:100px; margin-left: 70px;">
                <div class="col"><strong>
                        <h1 style="font-size: 50px;">1000</h1>
                    </strong>
                    <span style="font-size: 18px;">Profile Uploads Daily</span></div>
                <div class="col"><strong>
                        <h1 style="font-size: 50px;">>50</h1>
                    </strong>
                    <span style="font-size: 18px;">MNC Clients Singed Up</span></div>
                <div class="col"><strong>
                        <h1 style="font-size: 50px;">>100</h1>
                    </strong>
                    <span>Vendors Simged Up</span></div>
            </div>


        </div>
    </div>
</div>
</div>

<div class="section">
    <div style="height:790px;" class="container">
    <div style="margin-left: 140px;" class="col-md-12">
        <div class="row">
            <div style=" height: 250px;" class="col-md-9 pt-4"><img class="logo" src="assets/images/Group 906.svg"
                    style="width: 114px; height: 41px;margin-left: 350px; " /><br><br>
                <h1 style="text-align: center;"><strong style="color: darkorange;">Build</strong><b> for everyone</b>
                </h1>
                <br>
                <h4 style="text-align: center;">We’re making it easier for veterans to find opportunities at Prizm.
                    <br>Give Your Business The Right Tool
                </h4>
            </div>

        </div>
    </div>
    <div class="col-md-12">
        <div class="row">
            <div style=" height:536px; background-image: url('assets/images/build.jpg');background-size: cover;"
                class="col"></div>
        </div>
    </div>
</div>
</div>


<div class="section">
<div style=" height:800px; background-color: black; ">
    <div style="border: 1px solid black; height:800px;" class="container">
        <div
            style="border: 2px solid black; width:520px; height:500px; margin-left: auto; margin-right: auto; margin-top: 180px">
            <div>
                <h1 class="new"><b>Current Hiring Paradigm<br> dont't help you</b></h1>
            </div>
            <div>
                <h2 style="color:white; font-size: 40px;"><b>So we don’t have them</b></h2>
            </div>
            <div class="para p-3" style="color:white; font-size: 20px;">Lorem ipsum dolor sit amet, consetetur
                sadipscing elitr, sed diam
                nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
                accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
                ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et
                justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem</div>
        </div>
    </div>
</div>
</div>

<div class="section">
<div class="container" style="display: flex; padding-top: 150px;">
    <div class="col-md-4" style=" height: 350px; margin-left: 160px;">
        <h2>
            Getting a job now <br>
            far easier than ever
        </h2>
        <br>
        <p> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
            dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
            clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
            consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
            sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no
            sea takimata sanctus est Lorem</p>


    </div>
    <!-- <div class="col-md-2"> -->
        <!-- <img style="height: 398px; padding-top: 50px; margin-left: 40px;" src="assets/images/Group 949.jpg" alt=""> -->
    <!-- </div> -->
    <div class="col-md-6" style=" height: 350px; padding-left: 0; margin-left: 40px; padding-top: 10px;">

            <div style="animation-delay: .5s;  " class="job-step">
                    <img src="assets/images/sign.jpg">
                    Signup at Prizm
                </div>
              
                <div style="animation-delay: 1s; margin-top: 10px;" class="job-step">
                        <img src="assets/images/sign.jpg">
                        Get shortlisted by multiple companies   
                    </div>
                    <div style="animation-delay: 1.5s; margin-top: 10px;" class="job-step">
                            <img src="assets/images/sign.jpg">
                            Choose perks & benefits which you like
                        </div>
                        <div style="animation-delay: 2s; margin-top: 10px;" class="job-step">
                                <img src="assets/images/sign.jpg">
                                Schedule an interview
                            </div>
                            <div style="animation-delay: 2.5s; margin-top: 10px;" class="job-step">
                                    <img src="assets/images/sign.jpg">
                                    Get the job offer
                                </div>
                                <div style="animation-delay: 3s; margin-top: 10px;" class="job-step">
                                        <img src="assets/images/sign.jpg">
                                        Get the ratings
                                    </div>

    </div>

</div>
</div>

<div class="section">
<div class="col">
    <h1 style="text-align: center; font-size: 50px;">Knowing so much about<br>
        the profiles. At a glance</h1>
</div>

<br>
<br>
<br>
<div class="container d-flex">
    <div class="col-md-4" style="margin-top: auto; margin-bottom: auto;">
        <p style="color: grey;">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
            invidunt ut labore et dolore magna</p>
    </div>
    <div class="col-md-8">
        <img src="assets/images/system.jpg" alt="system.jpg">
    </div>
</div>
</div>

<div class="container d-flex">
    <div class="col">
        <img src="assets/images/circle.jpg"></div>
    <div class="col p-5">
        <h2>An evolution<br>
            into job portals</h2>
        <br>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
            dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
            clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
            consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
            sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no
            sea takimata sanctus est Lorem</p>

    </div>
</div>

<br>
<br>
<br>
<br>
<br>

<div class="col">
    <h2 style="text-align:center; font-size: 40px; ">The accelerating jobs requirement<br>
        needs en effective platform.</h2>
</div>

<div style="background-image: url('assets/images/mask.jpg'); height: 600px; background-size: cover;" class="col">
</div>
<div class="section">
<div style=" height:880px; background-color: black;">
    <div style="height:800px;" class="container">

        <h2 style="color: white; text-align:center; padding-top: 80px;">More convenient, more effective</h2>
        <p style="color: white; text-align:center;"><b>Choose which package is best suited for you</b></p>
        <div class="clearfix mb-5"></div>

        <div style="height:600px; margin-left: 58px;" class="plans d-flex">

            <div class="card-2" style="border-radius: 10px 0px 0px 10px;">
                <div class="row d-block p-5">
                    <div class="col">
                        <h2>Basic</h2>
                    </div>
                    <br>
                    <div class="col"><small>For businesses looking for a flexible talent solution that scales with
                            them.</small></div>
                    <div class="col pt-4"><strong>$499/month**</strong></div>
                </div>
                <div class="row d-flex p-3">
                    <div class="col-md-2">
                        <img src="assets/images/sub.jpg">
                    </div>
                    <div class="col-md-10" style="text-align-last: start; padding: 0px;">
                        <small>Consolidated billing and invoicing <br> with net 30 pay</small>
                    </div>
                    <div class="col-md-2 mt-3">
                        <img src="assets/images/sub.jpg" alt="" srcset="">
                    </div>
                    <div class="col-md-10 mt-3" style="text-align-last: start; padding:0px;">
                        <small>Dedicated team of advisors to get<br> you hiring faster and more successfully</small>
                    </div>
                    <div class="col-md-2 mt-3">
                        <img src="assets/images/sub.jpg" alt="" srcset="">
                    </div>
                    <div class="col-md-10 mt-3" style="text-align-last: start; padding: 0%">
                        <small>Detailed reporting with company<br> insights and trends</small>
                    </div>
                </div>
            </div>
            <div style="width:370px; height:606px;" class="middle">
                <div style="margin-top: 15px;" class="row d-block p-5">
                    <div class="col">
                        <h2>Plus</h2>
                    </div>
                    <br>
                    <div class="col"><small>For businesses looking for a flexible talent solution that scales with
                            them.</small></div>
                    <div class="col pt-4"><strong>$499/month**</strong></div>
                </div>
                <div class="row d-flex p-3">
                    <div class="col-md-2">
                        <img src="assets/images/sub.jpg">
                    </div>
                    <div class="col-md-10" style="text-align-last: start; padding: 0%">
                        <small>Consolidated billing and invoicing <br> with net 30 pay</small>
                    </div>
                    <div class="col-md-2 mt-3">
                        <img src="assets/images/sub.jpg">
                    </div>
                    <div class="col-md-10 mt-3" style="text-align-last: start; padding: 0%">
                        <small>Dedicated team of advisors to get<br> you hiring faster and more successfully</small>
                    </div>
                    <div class="col-md-2 mt-3">
                        <img src="assets/images/sub.jpg" alt="" srcset="">
                    </div>
                    <div class="col-md-10 mt-3" style="text-align-last: start; padding: 0%">
                        <small>Detailed reporting with company<br> insights and trends</small>
                    </div>

                    <button style="margin:auto; margin-top: 30px;">Start</button>
                </div>
            </div>
            <div class="card-2" style="border-radius: 0px 10px 10px 0px;">

                <div class="row d-block p-5">
                    <div class="col">
                        <h2>Business</h2>
                    </div>
                    <br>
                    <div class="col"><small>For businesses looking for a flexible talent solution that scales with
                            them.</small></div>
                    <div class="col pt-4"><strong>$499/month**</strong></div>
                </div>
                <div class="row d-flex p-3">
                    <div class="col-md-2">
                        <img src="assets/images/sub.jpg" alt="" srcset="">
                    </div>
                    <div class="col-md-10" style="text-align-last: start; padding: 0%">
                        <small>Consolidated billing and invoicing <br>with net 30 pay</small>
                    </div>
                    <div class="col-md-2 mt-3">
                        <img src="assets/images/sub.jpg" alt="" srcset="">
                    </div>
                    <div class="col-md-10 mt-3" style="text-align-last: start; padding: 0%">
                        <small>Dedicated team of advisors to get<br> you hiring faster and more successfully</small>
                    </div>
                    <div class="col-md-2 mt-3">
                        <img src="assets/images/sub.jpg" alt="" srcset="">
                    </div>
                    <div class="col-md-10 mt-3" style="text-align-last: start; padding: 0%">
                        <small>Detailed reporting with company<br> insights and trends</small>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</div>



<div class="section">
<div class="container">
    <h1 style="text-align: center;">Why People Choosing Tantranzm</h1>
    <br>
    <br>
    <div class="col-md-10 mx-auto">
        <div class="row justify-content-center">
            <div class="col-md-6" >
                <div class="shadow p-4 mb-5 bg-white rounded">
                    <p class="mb-5">Our entire project was developed and design by the team TantranZm and they are so
                        good at it. They are skilled, humble and supportive which is reflected in their work. Keep up
                        the good work folks. </p>
                    <div class="">
                        <div class="row">
                            <div class="col-md-2"><span class="t-img" style="background-color: grey;"></span></div>
                            <div class="col">
                                <strong>Amit singh chauhan</strong>
                                <br>
                                <span>Director at Protiviti India Member Firm</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mx-auto">
                <div class="shadow p-4 mb-5 bg-white rounded" style="height: 242px;">
                    <p class="mb-5">Our entire project was developed and design by the team TantranZm and they are so
                        good at it. They are skilled, humble and supportive which is reflected in their work. Keep up
                        the good work folks. </p>
                    <div class="">
                        <div class="row">
                            <div class="col-md-2"><span class="t-img" style="background-color: grey;"></span></div>
                            <div class="col">
                                <strong>
                                    Kuldeep Tyagi</strong>
                                <br>
                                <span>MD and CEO
                                    Saraca Solutions Pvt. Ltd.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="shadow p-4 mb-5 bg-white rounded">
                        <p class="mb-5">Our entire project was developed and design by the team TantranZm and they are so
                            good at it. They are skilled, humble and supportive which is reflected in their work. Keep up
                            the good work folks. </p>
                        <div class="">
                            <div class="row">
                                <div class="col-md-2"><span class="t-img" style="background-color: grey;"></span></div>
                                <div class="col">
                                    <strong>Adesh Kumar Rawat</strong>
                                    <br>
                                    <span>Director at Protiviti India Member Firm</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mx-auto">
                    <div class="shadow p-4 mb-5 bg-white rounded" style="height: 242px;">
                        <p class="mb-5">Our entire project was developed and design by the team TantranZm and they are so
                            good at it. They are skilled, humble and supportive which is reflected in their work. Keep up
                            the good work folks. </p>
                        <div class="">
                            <div class="row">
                                <div class="col-md-2"><span class="t-img" style="background-color: grey;"></span></div>
                                <div class="col">
                                    <strong>
                                        Manish Malik</strong>
                                    <br>
                                    <span>MD and CEO
                                        Saraca Solutions Pvt. Ltd.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </div>
</div>
</div>

<h2 style="text-align: center; bottom: 0px;"><b>Trusted by the world’s most innovative brands</b></h2>
<br>

<div class="col-md-12">
    <div style="justify-content: center;" class="row mt-5">

        <img src="assets/images/Group 1.png" width="1080px;">
    </div>
</div>

<div class="col-md-12">
    <div style="justify-content: center;" class="row mt-5">

        <img src="assets/images/Mask Group 10.jpg" height="309px;" width="708px;">
    </div>
</div>

