<div class="form">







    <h3 style="font-size: 50px;">Step 1 Of 4</h3>
    <input type="email" id="aboutus" name="project" placeholder="Email address" formControlName="Description" required>
    <label class="dev-form" for="aboutus">Email address</label>

    <input style="border: none; border-bottom: 1px solid; border-color: #cecbcb;
            outline: none;" type="password" id="aboutus" name="project" placeholder="Password"
        formControlName="Description" required>
    <label style="margin-left: -529px;" class="dev-form" for="aboutus">Password</label>


    <button type="search" (click)="login()">Log In</button>
    <div class="clearfix" style="height: 150px;"></div>
    <p>Privacy policy | FAQ</p>






</div>