
 <div  class="col-md-12 align-items-center" >
        <div class="row align-items-center">
           
            <div class="col-md-6 p-0" style="height: 967px;"><img src="assets/images/log.png" height="967px;"></div>
            <div class="col-md-2"></div>
    
            <div class="col-md-4" style="padding-top: 100px;">
                <div class="box2" style="height: 50px; width: 100px; background-size: cover; margin-left: 50px;">
                        <img  src="assets/images/prizm.svg">
                </div>
                <div class="p-5">
                    <h3 style="font-size: 50px;">Step 1 Of 4</h3>
                   <input type="text" class="form-control mt-4 megaSearch"
                            placeholder="Add Key Skills" />
                            <input type="password" class="form-control mt-4 megaSearch"
                            placeholder="Add Education" />
                            <input type="text"  class="form-control mt-4 megaSearch"
                            placeholder="Add Employment" />
                           
    
                    <button type="search" routerLink="/login4" routerLinkActive="active" >Continue</button>
                    <div class="clearfix" style="height: 150px;"></div>
                    <p>Privacy policy | FAQ</p>
                    
                </div>
            </div>
        </div>
    </div>

