<div class="form">







        <h3 style="font-size: 50px;">Step 1 Of 4</h3>
        <input type="text" id="aboutus" placeholder="Add Key Skills" formControlName="Description"
                required>
        <label class="dev-form" for="aboutus">Add Key Skills</label>

        <input type="text" id="aboutus" placeholder="Add Education" formControlName="Description"
                required>
        <label class="dev-form" for="aboutus">Add Education</label>
        <input type="text" id="aboutus" placeholder="Add Employment" formControlName="Description"
                required>
        <label class="dev-form" for="aboutus">Add Employment</label>
        </div>
        <button type="search" (click)="new()">Continue</button>
        <div class="clearfix" style="height: 150px;"></div>
        <p>Privacy policy | FAQ</p>






