<h3 style="font-size: 50px;">Step 1 Of 4</h3>
<br>
<div class="dotted">

    <div class="upload-btn-wrapper" style="margin-top: 50px; padding-top: 30px;">
        <label class="btn" id="resumeLabel">Upload Resume
            <input type="file" name="myfile" id="resume" />
        </label>
    </div>

    <p style="color: #9F9F9F">Supported Formats: doc, docx, rtf, pdf, upto 2 MB</p>

</div>



<button style="width: 200px;" type="search">Upload & Continue</button>
<div class="clearfix" style="height: 150px;"></div>
<p>Privacy policy | FAQ</p>