<div class="form">







        <h3 style="font-size: 50px;">Step 1 Of 4</h3>
        <div>


        <input type="email" id="aboutus" placeholder="Email address" formControlName="Description" required>
        <label class="dev-form" for="aboutus">Email address</label>

        <input type="text" id="aboutus" placeholder="Name" formControlName="Description" required>
        <label class="dev-form" for="aboutus">Name</label>

        <input type="number" id="aboutus" placeholder="Mobile Number" formControlName="Description" required>
        <label class="dev-form" for="aboutus">Mobile Number</label>

        <input style="border: none; border-bottom: 1px solid; border-color: #cecbcb;
        outline: none;" type="password" id="aboutus" placeholder="Create Password" formControlName="Description" required>
        <label style="margin-left: -529px;" class="dev-form" for="aboutus">Create Password</label>
        
            </div>
        <button type="search" (click)="signup()">Sign up</button>
        <div class="clearfix" style="height: 150px;"></div>
        <p>Privacy policy | FAQ</p>






</div>